.link {
    color: #0C7CAD;
}

.link_200_ {
    color: green;
}

.link_200_redirect {
    color: #CC9900;
}

.link_404_,
.link_500_,
.link_404_redirect,
.link_500_redirect {
    color: #B41A0C;
}

.link_408_,
.link_408_redirect {
    color: #993366;
}
