{% extends "admin/base_site.html" %}
{% load intellipages lemon_list admin_list scaner admin_static i18n %}


{% block extrastyle %}
    {{ block.super }}<link rel="stylesheet" type="text/css" href="{% static 'lemon/css/changelist.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/table.css' %}" />
{% endblock %}


{% block extrahead %}{{ block.super }}
<script src="{% static 'lemon/js/jquery.actions.js' %}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
// <![CDATA[
    var path_to_yes_icon = '{% static "lemon/images/yes.gif" %}';
    var path_to_no_icon = '{% static "lemon/images/no.gif" %}';
// ]]>
</script>
<script src="{% static 'lemon/js/jquery.changelist.js' %}" type="text/javascript" charset="utf-8"></script>
{{ media }}
{% endblock %}


{% block content %}
{% if title %}<h1>{{ title }}</h1>{% endif %}
{% block object-tools %}
	{% if has_add_permission %}
		<ul class="tools">
			<li><a href="add/{% if is_popup %}?_popup=1{% endif %}" class="addlink">{% if string_overrides.changelist_addlink_title %}{{ string_overrides.changelist_addlink_title }}{% else %}{% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}{% endif %}</a></li>
		</ul>
	{% endif %}
    <ul class="tools">
        <li><a href="graph/last/" class="addlink">{% trans "Graph" %}</a></li>
    </ul>

{% endblock %}
<div id="changelist" class="changelist">
    <div id="changelist-header" class="changelist-header">
        <div id="changelist-actions" class="changelist-actions">
            {% if action_form and actions_on_top and cl.full_result_count %}{% admin_actions %}{% endif %}
        </div>
        <div id="changelist-search" class="changelist-search">
            {% block search %}{% search_form cl %}{% endblock %}
        </div>
    </div>
    {% block date_hierarchy %}{% date_hierarchy cl %}{% endblock %}
    <div id="changelist-body" class="changelist-body{% if cl.has_filters %} filtered{% endif %} clearfix">
        {% block filters %}
        {% if cl.has_filters %}
        <div id="changelist-filters" class="changelist-filters">
            <h2>{% trans 'Filter' %}</h2>
            {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
        </div>
        {% endif %}
        {% endblock %}
        <div id="changelist-main" class="changelist-main">
            <form action="" method="post"{% if cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %}>{% csrf_token %}
            <div><input type="hidden" name="action" value="" />{% if cl.formset %}{{ cl.formset.management_form }}{% endif %}</div>
            {% block result_list %}
                {% result_links_list cl %}
            {% endblock %}
          </form>
        </div>
    </div>
    <div id="changelist-footer" class="changelist-footer">
        <div id="changelist-pager" class="changelist-pager"><div>
            {% block pagination %}
							{% if cl|pagination_required %}
								{% with cl.page_num|add:1 as number %}
									{% for p in cl.paginator|intellipages:number %}
										{% if p %}
											{% if p == number %}
												<a class="active">{{ p }}</a>
											{% else %}
												<a href="{% lemon_paginator_href cl p %}">{{ p }}</a>
											{% endif %}
										{% else %}
											<span>...</span>
										{% endif %}
									{% endfor %}
								{% endwith %}
							{% endif %}
							<span>{% lemon_paginator_description %}</span>
							{% with cl|show_all_url as show_all_url %}
								{% if show_all_url %}
									<span class="showall"><a href="{{ show_all_url }}">{% trans 'Show all' %}</a></span>
								{% endif %}
							{% endwith %}
						{% endblock %}
        </div></div>
        <div id="changelist-links" class="changelist-links"></div>
    </div>
</div>
{% if cl.formset and cl.result_count %}
	<div id="main-buttons" class="main-buttons clearfix">
		<input type="submit" name="_save" class="default" value="{% trans 'Save' %}"/>
	</div>
{% endif %}
{% endblock %}
