{% extends "admin/base_site.html" %}
{% load static scaner i18n %}

{% block extrastyle %}
    {{ block.super }}<link rel="stylesheet" type="text/css" href="{% static 'lemon/css/changelist.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/table.css' %}" />
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script src="{% static 'js/highcharts.js' %}"></script>
    <script src="{% static 'js/exporting.js' %}"></script>
{% endblock %}

{% block title %}{% trans "Graph of the number of errors" %} {{ block.super }}{% endblock %}

{% block content %}
<h1>{% trans "Graphs" %}</h1>
<script type="text/javascript">
    $(function () {
        $('#chart_container_1').highcharts({
            chart: {
                type: 'bar',
            },
            title: {
                text: 'Statistics last scan'
            },
            xAxis: {
                categories: [
                    {% for object in object_list %}
                      {% if not forloop.first %},{% endif %}
                      '{{ object.link }}'
                    {% endfor %}
                ],
                alternateGridColor: '#F4F7F7'
            },
            yAxis: {
                title: {
                    text: null
                }
            },
            plotOptions: {
                series: {
                    stacking: 'normal'
                }
            },
            series: [
                {% for key, value in errors.items %}
                    {
                        name: '{{ key }}',
                        data: {{ value }},
                        stack: 0,
                        color: "{{ colors|lookup:key }}"
                    },
                {% endfor %}
                {
                    name: 'Broken links',
                    data: {{ broken }},
                    stack: 1,
                    color: '#8A2BE2'
                },
                {
                    name: 'Scanned links',
                    data: {{ links }},
                    stack: 2,
                    color: '#8bbc21'
                }
            ]
        });
    });

    $(function () {
        $('#chart_container_2').highcharts({
            chart: {
                type: 'areaspline',
            },
            title: {
                text: 'Statistics by date'
            },
            xAxis: {
                categories: [
                    {% for obj in dates %}
                      {% if not forloop.first %},{% endif %}
                      '{{ obj.date }}'
                    {% endfor %}
                ],
            },
            yAxis: {
                title: {
                    text: null
                },
            },
            plotOptions: {
                areaspline: {
                    fillOpacity: 0.5
                }
            },
            series: [
                {
                    name: 'Validation errors',
                    data: [
                        {% for obj in dates %}
                          {% if not forloop.first %},{% endif %}
                          {{ obj.validation_errors }}
                        {% endfor %}
                    ],
                    color: '#42A07B'
                },
                {
                    name: 'Broken links',
                    data: [
                        {% for obj in dates %}
                          {% if not forloop.first %},{% endif %}
                          {{ obj.broken_links }}
                        {% endfor %}
                    ]
                }
            ]
        });
    });
</script>
<div id="chart_container_2" style="min-height:500px; margin-top:10px; "></div>
<div id="chart_container_1" style="min-height:{{ size }}px; margin-top:10px;"></div>
{% endblock %}
